
<footer>

  <div class="container container-full horizontal-padding-medium">
  <div class="row">
  
  <div class="col-md-4 col-lg-4 hover-div background-translucent">
    <div class="focused-block">
      <h3 class="text-center">
        <a href=""><i class="fa fa-2x fa-facebook"></i></a>
      </h3>
    </div><!-- /.focused-block -->
  </div>
  
  <div class="col-md-4 col-lg-4 hover-div background-translucent">
    <div class="focused-block">
      <h3 class="text-center">
        <a href=""><i class="fa fa-2x fa-twitter"></i></a>
      </h3>
    </div><!-- /.focused-block -->
  </div>
  
  <div class="col-md-4 col-lg-4 hover-div background-translucent">
    <div class="focused-block">
      <h3 class="text-center">
        <a href=""><i class="fa fa-2x fa-google-plus"></i></a>
      </h3>
    </div><!-- /.focused-block -->
  </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
  <div class="row footer-section">
    
    <p class="text-center">Copyright &copy; {{ site.time | date: '%Y' }} &mdash; {{ site.tagline }}</p>
    <p class="text-center">Maintained by <a href="http://dereknutile.com/" target="_blank">Derek Nutile</a> here <a href="https://github.com/dereknutile/mockmach" target="_blank">https://github.com/dereknutile/mockmach</a>.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

      <p class="section-label">Footer section: <code>/_includes/framing/footer.html</code>.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->
</footer>

{% include framing/scripts.html %}
{% include framing/analytics.html %}
