
<footer>

  <div class="container container-full horizontal-padding-medium">
  <div class="row">

  <div class="col-md-4 col-lg-4">
    <div class="focused-block">
      <h3>Title</h3>
      <ul class="list-unstyled">
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
      </u>
    </div><!-- /.focused-block -->
  </div>

  <div class="col-md-4 col-lg-4">
    <div class="focused-block">
      <h3>Title</h3>
      <ul class="list-unstyled">
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
      </u>
    </div><!-- /.focused-block -->
  </div>

  <div class="col-md-4 col-lg-4">
    <div class="focused-block">
      <h3>Title</h3>
      <ul class="list-unstyled">
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
        <li><a href="">Placeholder Text</a></li>
      </u>
    </div><!-- /.focused-block -->
  </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container copyright">
  <div class="row footer-section horizontal-padding-medium">

    <p class="text-center">Copyright &copy; {{ site.time | date: '%Y' }} &mdash; {{ site.title }}</p>
    <p class="text-center">Maintained by <a href="http://dereknutile.com/" target="_blank">Derek Nutile</a> here <a href="{{ site.repo }}" target="_blank">{{ site.repo }}</a>.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->
</footer>

{% include framing/scripts.html %}
{% include framing/analytics.html %}
