
<section id="cloud-apps" class="palette">
<div id="cloud-apps-banner">

  <h2 class="text-center">Look at These!</h2>

  <div class="container horizontal-padding-large">
    
  <div class="row">

    <div class="col-sm-2 col-md-2 col-lg-2">
      <p class="text-center"><i class="fa fa-4x fa-wordpress"></i></p>
      <p class="lead text-center">Application</p>
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->
      
    <div class="col-sm-2 col-md-2 col-lg-2">
      <p class="text-center"><i class="fa fa-4x fa-wordpress"></i></p>
      <p class="lead text-center">Application</p>
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

    <div class="col-sm-2 col-md-2 col-lg-2">
      <p class="text-center"><i class="fa fa-4x fa-wordpress"></i></p>
      <p class="lead text-center">Application</p>
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->
    
    <div class="col-sm-2 col-md-2 col-lg-2">
      <p class="text-center"><i class="fa fa-4x fa-wordpress"></i></p>
      <p class="lead text-center">Application</p>
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

    <div class="col-sm-2 col-md-2 col-lg-2">
      <p class="text-center"><i class="fa fa-4x fa-wordpress"></i></p>
      <p class="lead text-center">Application</p>
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

    <div class="col-sm-2 col-md-2 col-lg-2">
      <p class="text-center"><i class="fa fa-4x fa-wordpress"></i></p>
      <p class="lead text-center">Application</p>
    </div><!-- col-sm-2 col-md-2 col-lg-2 -->

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

    <p class="section-label">Apps section: <code>/_includes/sections/apps.html</code>, called from /index.html.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#cloud-apps-banner -->
</section><!-- /#cloud-apps -->
