
<section id="description" class="palette background-primary">
<div id="description-banner">

  <div class="container horizontal-padding-large">
  <div class="row">

    <h2 class="text-center">{{ site.description }}</h2>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

    <p class="section-label">Description section: <code>/_includes/sections/description.html</code>, called from /index.html.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->
  
</div><!-- /#description-banner -->
</section><!-- /#description -->
