
<section id="hero" class="palette">    
<div id="hero-banner">

  <div class="container container-narrow">
  <div class="row">
  
    <h1 class="text-center text-shadow-dark">{{ site.title }}</h1>
    <h2>{{ site.tagline }}</h2>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

    <p class="section-label">Hero section: <code>/_includes/sections/hero.html</code>, called from /index.html.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->
  
</div><!-- /#hero-banner -->
</section><!-- /#hero -->
