
<section id="home">
    <div id="home-banner">

        <div class="container container-narrow">
            <div class="row">

                <p>Every team needs a foundation and every <em>great</em> team has a well defined guide to help govern their purpose.  This collection of web development best practices is a living, breathing, changing, growing guide simply means help define that governance.</p>

            </div><!-- /.row -->
        </div><!-- /.container -->

    </div><!-- /#home-banner -->
</section><!-- /#home -->
