
<section id="intro" class="palette">
<div id="intro-banner">

  <div class="container container-narrow horizontal-padding-medium">
  <div class="row">

    <h1 class="text-center">Introduction</h1>
    <p>This entire page is the home page or landing page.  It uses the <em>landing</em> template &mdash; <code>/_includes/_layouts/landing.html</code>.  The landing template does not include a main navigation.</p>
    <h2>Page Examples</h2>

    <p>This is the <a href="{{ site.baseurl }}/about">about page</a>.  It uses the <em>default</em> template &mdash; <code>/_includes/_layouts/default.html</code> and has a navigation example.</p>

    <p>This is an example of the <a href="{{ site.baseurl }}/404.html">404 page</a>.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

      <p class="section-label">Introduction section: <code>/_includes/sections/intro.html</code>, called from /index.html.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#intro-banner -->
</section><!-- /#intro -->
