
<section id="portfolio-header-section" class="palette background-dark">
<div id="portfolio-header">

  <div class="container horizontal-padding-large">
  <div class="row">

    <h1 class="text-center">Recent Work</h1>
  
  </div><!-- /.row -->

  <div class="row row-stack background-translucent" id="title">
    
    <div class="col-md-8 col-lg-8">
      <img src="{{ site.baseurl }}/assets/img/portfolio/portfolio.jpg" class="img-responsive" alt="title" />
    </div>
  
    <div class="col-md-4 col-lg-4">
      <h2>Number One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta ex placerat auctor facilisis. Donec et augue scelerisque nisi facilisis porta sed quis lacus. Sed arcu ex, eleifend non lacinia ac, volutpat eget ipsum.</p>
    </div>

  </div><!-- /.row -->

  <div class="row row-stack background-translucent" id="two">
    
    <div class="col-md-8 col-lg-8">
      <img src="{{ site.baseurl }}/assets/img/portfolio/portfolio.jpg" class="img-responsive" alt="twp" />
    </div>
  
    <div class="col-md-4 col-lg-4">
      <h2>Number Two</h2>
      <p>Proin non tincidunt arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ligula libero, dapibus nec odio ac, luctus tristique magna. Donec id magna massa. Proin sed gravida lorem. Pellentesque malesuada mi vel risus pharetra malesuada. Pellentesque a enim ut felis iaculis iaculis viverra in libero.</p>
    </div>

  </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container container-narrow horizontal-padding-small">
  <div class="row">

      <p class="section-label">Portfolio section: <code>/_includes/sections/portfolio.html</code>, called from /index.html.</p>

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#portfolio-header -->
</section><!-- /#portfolio-header-section -->
