
    <div id="toc-banner">

        <div class="container">
            <div class="row">

                <h2 class="text-shadow-primary">Table of Contents</h2>

                {% for content in site.data.contents %}
                <div class="col">
                <h3 class="text-shadow-dark"><a href="/{{ content.url }}">{{ content.title }}</a></h3>

                    {% if content.bookmarks %}
                    <ul class="toc-list">
                        {% for bookmark in content.bookmarks %}
                            <li><a href="/{{ content.url }}{% if bookmark.url %}#{{ bookmark.url }}{% endif %}">{{ bookmark.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div><!-- .col -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->

    </div><!-- /#toc-banner -->
