/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This is the custom override CSS. */
/* Edit sass/custom.scss and compile with SASS. */
/* Ex command: */
/* sass assets/scss/custom.scss:assets/css/custom.css --style compact         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* common or base font */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,300);
$fontBasePrimary: 'Source Sans Pro', Helvetica, Arial, sans-serif;

/* secondary or print font */
@import url(http://fonts.googleapis.com/css?family=Bitter);
$fontPrintPrimary: 'Bitter', Times, serif;

/* technical, typewriter, monospace font typically used for pre or code tags */
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$fontMonoPrimary: 'Inconsolata', Courier, monospace;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* base monochrome colors or variants */
$colorBaseLight: #fdfdfd;
$colorBaseDark: rgb(0, 0, 17);

$colorPrimary: lighten( $colorBaseDark, 6% );
$colorSecondary: lighten( $colorBaseLight, 6% );
$colorHighlightPrimary: #42dca3;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: $fontBasePrimary;
}

body.body-navbar-padding {
  /* bump for Bootstrap menu  navigation */
   padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
}

p, ul, ol {
  font-size: 1.5em;
  font-family: $fontBasePrimary;
  font-weight: 100;
  line-height: 2em;
}

/* links */
a { color: $colorHighlightPrimary; }
a:hover {
    transition: background-color 0.9s ease;
    color: darken( $colorHighlightPrimary, 28% );
    text-decoration: none;
}
a:visited { color: $colorHighlightPrimary; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container {
}

.container-full {
  margin: 0 auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.container-narrow {
  width: 760px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 18px 0 18px;
}

.row-stack {
  padding: 12px 6px 12px 6px;
  margin-bottom: 24px;
  border: 0 none;
}

/* override to .col class padding */
.cancel-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default .navbar-brand {
}

.navbar-inverse {
  background-color: $colorBaseDark;
  border-color: $colorBaseDark;
}

.navbar-brand {
  font-weight: 100;
  font-size: 26px;
}

#nav-links {
  font-size: 14px;
  font-weight: 100;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: $colorBaseLight;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid $colorPrimary;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

ul.dropdown-menu>li>a:hover {
    color: $colorBaseLight;
    background-color: $colorPrimary;
}

#footer {
}

.jumbotron {
}

.lead {
}

.navbar {
}

.navbar-default {
}

figure {
    margin-bottom: 2em;
}

pre {
    display: block;
    padding: 0.7em;
    margin: 0;
    font-size: 0.9em;
    line-height: 1.42857143;
    color: lighten( $colorBaseDark, 18% );
    word-break: break-all;
    word-wrap: break-word;
    background-color: darken( $colorBaseLight, 10% );
    border: none;
    border-left: 1.5em solid darken( $colorBaseLight, 25% );
    border-radius: 0px;
    overflow-x: auto;
    font-family: $fontMonoPrimary;
    font-weight: 100;
}

.pre-title {
    margin-top: 1em;
    padding: 1.0em 0 1em 1.4em;
    font-size: 1.1em;
    font-family: $fontMonoPrimary;
    font-weight: 700;
    background-color: darken( $colorBaseLight, 35% );
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.btn-default {
    color: $colorPrimary;
    background-color: darken( $colorBaseLight, 18% );
    border-color: darken( $colorBaseLight, 38% );
}

.btn-default:visited, .btn-default:active {
    color: $colorPrimary;
    background-color: darken( $colorBaseLight, 18% );
    border-color: darken( $colorBaseLight, 38% );
}

.btn-default:hover {
    background-color: $colorHighlightPrimary;
    border-color: darken( $colorHighlightPrimary, 38% );
}
/*****************************************************************************/
/* footer
/*****************************************************************************/

footer {
  background-color: lighten( $colorBaseDark, 6% );
  background-image: linear-gradient(lighten( $colorBaseDark, 6% ), $colorBaseDark);
  width: 100%;
  padding: 5em 0 10em;
  color: $colorBaseLight;
}

footer p, footer ul, footer ol, footer address {
  font-size: 18px;
  line-height: 22px;
  padding-left: 0px;
}

#footer a {
  color: $colorHighlightPrimary;
}

#footer-social a {
  color: $colorBaseLight;
}

#footer-links a {
  color: $colorBaseLight;
}

#footer-links .active a {
  text-decoration: underline;
}

.copyright p {
  font-size: 1em;
  font-weight: 100;
}

/*****************************************************************************/
/* palettes
/*****************************************************************************/

.palette {}

.palette h2 {
  font-size: 48px;
  font-weight: 100;
}

@media (max-width: 767px) {

  .palette h2 {
    font-size: 36px;
    font-weight: 100;
  }
}

.palette h3 {
  font-size: 30px;
  font-weight: 100;
}


/*****************************************************************************/
/* sections
/*****************************************************************************/

section {
  margin: 2em 0 4em;
}

section ul, section ol {
  padding-left: 36px;
}

section h1 {
  font-size: 48px;
  font-weight: 100;
  padding: 3px 0 20px 0;
  font-family: $fontPrintPrimary;
  text-transform: uppercase;
}

section h2 {
    font-size: 2.2em;
    font-family: $fontPrintPrimary;
    margin-bottom: .8em;
    padding-bottom: .5em;
    border-bottom: 1px solid lighten( $colorPrimary, 8% );
}

section h3 {}

section h4 {}

section h5 {}

p.section-label {
  padding: 8px;
  font-size: 12px;
  text-align: center;
  font-family: $fontMonoPrimary;
  background-color: lighten( $colorBaseDark, 12% );
  border: 1px dashed $colorBaseDark;
  color: $colorBaseLight;
}

/*****************************************************************************/
/* banners
/*****************************************************************************/

#page-header-banner {
    background-color: $colorPrimary;
    background-image: linear-gradient( $colorBaseDark, lighten( $colorBaseDark, 9% ) );
    padding: 4em 0 4em;
    min-height: 16em;
}

#page-header-banner h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 700;
    color: $colorBaseLight;
    font-family: $fontPrintPrimary;
}


@media (max-width: 767px) {
  #page-header-banner h1 {
    font-size: 4em;
  }
}

@media (max-width: 640px) {
  #page-header-banner h1 {
    font-size: 3em;
  }
}

#toc-banner {
    background-color: lighten( $colorPrimary, 50% );
    background-image: linear-gradient( lighten( $colorPrimary, 25% ), lighten( $colorPrimary, 50% ) );
    padding: 2em 0 5em;
    min-height: 10em;
}

#toc-banner h2 {
    font-weight: 700;
    color: $colorBaseLight;
}

.toc-list {
    padding-left: 0;
    list-style: none;
    font-size: 1.2em;
    line-height: 1.8em;
}

.col {
    word-break: break-word;
    margin: 0;
    width: 24%;
    border-right: none;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 767px) {
    .col {
        width: 49%;
        vertical-align: top;
        padding-left: .8em;
    }
}

@media (max-width: 480px) {
    .col {
        width: 100%;
        float: left;
        vertical-align: top;
        border-right: none;
        border-bottom: 1px dotted lighten( $colorPrimary, 25% );
    }
}

#navigator-banner {
    background-color: lighten( $colorPrimary, 20% );
    background-image: linear-gradient( lighten( $colorPrimary, 20% ), lighten( $colorPrimary, 50% ) );
    padding: 1em 0 1em;
}

#navigator-banner .prev-link {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
}

#navigator-banner .next-link {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: right;
    margin: 0;
}

@media (max-width: 767px) {
  #hero-banner h1 {
    font-size: 3em;
  }
}

#hero-banner {
    background-color: $colorPrimary;
    background-image: linear-gradient( $colorBaseDark, lighten( $colorBaseDark, 6% ) );
    min-height: 600px;
    width: 100%;
    background-size: cover;
}

#hero-banner h1 {
  font-size: 96px;
  padding-top: 32px;
  text-align: center;
  font-weight: 800;
  font-family: $fontPrintPrimary;
  color: $colorBaseLight;
  text-transform: none;
}

@media (max-width: 767px) {
  #hero-banner h1 {
    font-size: 64px;
  }
}

#hero-banner h2 {
  padding: 24px;
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  color: $colorSecondary;
  background-color: lighten( $colorBaseDark, 10% );
}

@media (max-width: 767px) {
  #hero-banner h2 {
    font-size: 36px;
  }
}


/*****************************************************************************/
/* overrides
/*****************************************************************************/

.horizontal-padding-small {
  padding: 8px 0 8px 0;
}

.horizontal-padding-medium {
  padding: 24px 0 24px 0;
}

.horizontal-padding-large {
  padding: 64px 0 64px 0;
}

.horizontal-padding-top-large {
  padding-top: 64px;
}

.background-translucent {
  background-color: rgba( $colorBaseLight, 0.2);
}

.background-opaque {
  background-color: rgba( $colorBaseDark, 0.2);
}

.background-light {
  background-color: $colorBaseLight;
  color: $colorBaseDark;
}

.background-dark {
  background-color: $colorBaseDark;
  color: $colorBaseLight;
}

.background-primary {
  background-color: $colorPrimary;
}

.background-primary-25 {
  background-color: lighten( $colorPrimary, 25% );
  color: $colorBaseLight;
}

.background-primary-35 {
  background-color: lighten( $colorPrimary, 35% );
  color: $colorBaseDark;
}

.background-primary-45 {
  background-color: lighten( $colorPrimary, 45% );
  color: $colorBaseDark;
}

.background-primary-65 {
  background-color: lighten( $colorPrimary, 65% );
  color: $colorBaseDark;
}

.background-primary-75 {
  background-color: lighten( $colorPrimary, 75% );
  color: $colorBaseDark;
}

.single-border-top-primary {
  border-top: 1px solid $colorPrimary;
}

.single-border-bottom-primary {
  border-bottom: 1px solid $colorPrimary;
}

.text-indent {
  padding-left: 24px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-light {
  color: $colorBaseLight;
}

.text-dark {
  color: $colorBaseDark;
}

.text-primary {
  color: $colorPrimary;
}

.text-shadow-dark {
  text-shadow: 1px 1px 1px $colorBaseDark;
}

.text-shadow-primary {
  text-shadow: 1px 1px 1px $colorPrimary;
}

.text-shadow-light {
  text-shadow: 1px 1px 1px $colorBaseLight;
}

.font-print {
  font-family: $fontPrintPrimary;
}

.font-base {
  font-family: $fontBasePrimary;
}

.font-mono {
  font-family: $fontMonoPrimary;
}

.focused-block {
  padding-top: 12px;
  padding-bottom: 12px;
}

.hover-div a:hover {
  color: $colorBaseLight;
}

.hover-div:hover {
 transition: background-color 0.8s ease;
 background-color: rgba( $colorHighlightPrimary, .8 );
}


/*****************************************************************************/
/* common responsive settings
/*****************************************************************************/
@media (max-width: 767px) {

  .lead {
    font-size: 22px;
  }

  section ul, section ol {
    padding-left: 12px;
  }

  .container-narrow {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 18px 0 18px;
  }
}

.anchor{
    padding-top: 60px;
    margin-top: -50px;
}