/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* This is the custom override CSS. */
/* Edit sass/custom.scss and compile with SASS. */
/* Ex command: */
/* sass assets/scss/custom.scss:assets/css/custom.css --style compact         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* common or base font */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,300);
/* secondary or print font */
@import url(http://fonts.googleapis.com/css?family=Bitter);
/* technical, typewriter, monospace font typically used for pre or code tags */
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* base monochrome colors or variants */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

body.body-navbar-padding { /* bump for Bootstrap menu  navigation */ padding-top: 40px; }

p, ul, ol { font-size: 1.5em; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; font-weight: 100; line-height: 2em; }

/* links */
a { color: #42dca3; }

a:hover { transition: background-color 0.9s ease; color: #167954; text-decoration: none; }

a:visited { color: #42dca3; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container-full { margin: 0 auto; width: 100%; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px; }

.container-narrow { width: 760px; margin-right: auto; margin-left: auto; }

.row { margin-left: 0px; margin-right: 0px; padding: 0 18px 0 18px; }

.row-stack { padding: 12px 6px 12px 6px; margin-bottom: 24px; border: 0 none; }

/* override to .col class padding */
.cancel-col-padding { padding-left: 0px; padding-right: 0px; }

.navbar-inverse { background-color: #000011; border-color: #000011; }

.navbar-brand { font-weight: 100; font-size: 26px; }

#nav-links { font-size: 14px; font-weight: 100; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; font-size: 14px; text-align: left; list-style: none; background-color: #fdfdfd; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #000030; border-radius: 0px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

ul.dropdown-menu > li > a:hover { color: #fdfdfd; background-color: #000030; }

figure { margin-bottom: 2em; }

pre { display: block; padding: 0.7em; margin: 0; font-size: 0.9em; line-height: 1.42857143; color: #00006d; word-break: break-all; word-wrap: break-word; background-color: #e4e4e4; border: none; border-left: 1.5em solid #bdbdbd; border-radius: 0px; overflow-x: auto; font-family: "Inconsolata", Courier, monospace; font-weight: 100; }

.pre-title { margin-top: 1em; padding: 1.0em 0 1em 1.4em; font-size: 1.1em; font-family: "Inconsolata", Courier, monospace; font-weight: 700; background-color: #a4a4a4; }

.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 0px; }

.btn-default { color: #000030; background-color: #cfcfcf; border-color: #9c9c9c; }

.btn-default:visited, .btn-default:active { color: #000030; background-color: #cfcfcf; border-color: #9c9c9c; }

.btn-default:hover { background-color: #42dca3; border-color: #0e4e36; }

/*****************************************************************************/
/* footer
/*****************************************************************************/
footer { background-color: #000030; background-image: linear-gradient(#000030, #000011); width: 100%; padding: 12em 0 10em; color: #fdfdfd; }

footer p, footer ul, footer ol, footer address { font-size: 18px; line-height: 22px; padding-left: 0px; }

#footer a { color: #42dca3; }

#footer-social a { color: #fdfdfd; }

#footer-links a { color: #fdfdfd; }

#footer-links .active a { text-decoration: underline; }

/*****************************************************************************/
/* palettes
/*****************************************************************************/
.palette h2 { font-size: 48px; font-weight: 100; }

@media (max-width: 767px) { .palette h2 { font-size: 36px; font-weight: 100; } }
.palette h3 { font-size: 30px; font-weight: 100; }

/*****************************************************************************/
/* sections
/*****************************************************************************/
section { margin: 2em 0 4em; }

section ul, section ol { padding-left: 36px; }

section h1 { font-size: 48px; font-weight: 100; padding: 3px 0 20px 0; font-family: "Bitter", Times, serif; text-transform: uppercase; }

section h2 { font-size: 2.2em; font-family: "Bitter", Times, serif; margin-bottom: .8em; padding-bottom: .5em; border-bottom: 1px solid #000058; }

p.section-label { padding: 8px; font-size: 12px; text-align: center; font-family: "Inconsolata", Courier, monospace; background-color: #00004e; border: 1px dashed #000011; color: #fdfdfd; }

/*****************************************************************************/
/* banners
/*****************************************************************************/
#page-header-banner { background-color: #000030; background-image: linear-gradient(#000011, #00003f); padding: 4em 0 4em; min-height: 16em; }

#page-header-banner h1 { text-align: center; text-transform: uppercase; font-size: 5em; font-weight: 700; color: #fdfdfd; font-family: "Bitter", Times, serif; }

#toc-banner { background-color: #3030ff; background-image: linear-gradient(#0000af, #3030ff); padding: 2em 0 5em; min-height: 10em; }

#toc-banner h2 { font-weight: 700; color: #fdfdfd; }

.toc-list { padding-left: 0; list-style: none; font-size: 1.2em; line-height: 1.8em; }

.col { word-break: break-word; float: left; margin: 0; width: 24%; border-right: none; }

@media (max-width: 767px) { .col { width: 50%; float: left; vertical-align: top; padding-left: .8em; border-bottom: 1px dotted #0000af; } }
@media (max-width: 480px) { .col { width: 100%; float: left; vertical-align: top; border-right: none; border-bottom: 1px dotted #0000af; } }
@media (max-width: 767px) { #hero-banner h1 { font-size: 3em; } }
#hero-banner { background-color: #000030; background-image: linear-gradient(#000011, #000030); min-height: 600px; width: 100%; background-size: cover; }

#hero-banner h1 { font-size: 96px; padding-top: 32px; text-align: center; font-weight: 800; font-family: "Bitter", Times, serif; color: #fdfdfd; text-transform: none; }

@media (max-width: 767px) { #hero-banner h1 { font-size: 64px; } }
#hero-banner h2 { padding: 24px; font-size: 48px; text-align: center; font-weight: 400; color: white; background-color: #000044; }

@media (max-width: 767px) { #hero-banner h2 { font-size: 36px; } }
/*****************************************************************************/
/* overrides
/*****************************************************************************/
.horizontal-padding-small { padding: 8px 0 8px 0; }

.horizontal-padding-medium { padding: 24px 0 24px 0; }

.horizontal-padding-large { padding: 64px 0 64px 0; }

.horizontal-padding-top-large { padding-top: 64px; }

.background-translucent { background-color: rgba(253, 253, 253, 0.2); }

.background-opaque { background-color: rgba(0, 0, 17, 0.2); }

.background-light { background-color: #fdfdfd; color: #000011; }

.background-dark { background-color: #000011; color: #fdfdfd; }

.background-primary { background-color: #000030; }

.background-primary-25 { background-color: #0000af; color: #fdfdfd; }

.background-primary-35 { background-color: #0000e2; color: #000011; }

.background-primary-45 { background-color: #1616ff; color: #000011; }

.background-primary-65 { background-color: #7c7cff; color: #000011; }

.background-primary-75 { background-color: #afafff; color: #000011; }

.single-border-top-primary { border-top: 1px solid #000030; }

.single-border-bottom-primary { border-bottom: 1px solid #000030; }

.text-indent { padding-left: 24px; }

.text-uppercase { text-transform: uppercase; }

.text-lowercase { text-transform: lowercase; }

.text-light { color: #fdfdfd; }

.text-dark { color: #000011; }

.text-primary { color: #000030; }

.text-shadow-dark { text-shadow: 1px 1px 1px #000011; }

.text-shadow-primary { text-shadow: 1px 1px 1px #000030; }

.text-shadow-light { text-shadow: 1px 1px 1px #fdfdfd; }

.font-print { font-family: "Bitter", Times, serif; }

.font-base { font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

.font-mono { font-family: "Inconsolata", Courier, monospace; }

.focused-block { padding-top: 12px; padding-bottom: 12px; }

.hover-div a:hover { color: #fdfdfd; }

.hover-div:hover { transition: background-color 0.8s ease; background-color: rgba(66, 220, 163, 0.8); }

/*****************************************************************************/
/* common responsive settings
/*****************************************************************************/
@media (max-width: 767px) { .lead { font-size: 22px; }
  section ul, section ol { padding-left: 12px; }
  .container-narrow { width: auto; margin-right: auto; margin-left: auto; }
  .row { margin-left: 0px; margin-right: 0px; padding: 0 18px 0 18px; } }

/*# sourceMappingURL=custom.css.map */
